{% spaceless %}
<div class="rating">
    {% for i in 5..1 %}
    {% set style = '' %}
    {% if i <= rate %}
    {% set style = 'full' %}
    {% else %}
    {% set style = rate|isHalfStar(i) ? 'half' %}
    {% endif %}
    <span class="star {{ style }}">☆</span>
    {% endfor %}
</div>
{% endspaceless %}