{% spaceless %}
    <div class="dcs-rating-container">
        {% for i in maxValue..1 %}
            {% set style = '' %}
            {% if i <= rate %}
                {% set style = 'full' %}
            {% else %}
                {% set style = rate|isHalfStar(i) ? 'half' %}
            {% endif %}
            <span class="star {{ style }}">☆</span>
        {% endfor %}
    </div>
{% endspaceless %}